<link rel="stylesheet" href="/css/accountManagement.css">

<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>AVATAR</th>
                    <th>HỌ TÊN</th>
                    <th>TRẠNG THÁI KHÓA</th>
                    <th>HÀNH ĐỘNG</th>
                </tr>
            </thead>
            <tbody>
                {{#each accounts}}
                    <tr {{{isActivateAccount activateStatus}}}>
                        <td><img src="/uploads/avatars/{{profilePicture}}" class="old"></td>
                        <td>{{fullname}}</td>
                        <td>
                            {{#getLockedStatus email lockedStatus}}{{/getLockedStatus}}
                        </td>
                        <td>
                            <button class="btn btn-primary" onclick="resendEmail('{{email}}')"><i class="fa-solid fa-envelope-circle-check"></i></button> 
                            <button class="btn btn-secondary"><a href="/profileid/{{email}}" style="color: white;"><i class="fa-solid fa-circle-info"></i></a></button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="/js/accountManagement.js"></script>