<div class="container">
    <h2>Danh sách sản phẩm trong lịch sử giao dịch</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Barcode</th>
                <th>Sản phẩm</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Tổng tiền</th>
            </tr>
        </thead>
        <tbody>
        {{!-- {{#each orderdetails}} --}}
            <tr>
                <th>{{barcode}}</th>
                <td>{{productName}}</td>
                <td>{{price}}</td>
                <td>{{amount}}</td>
                <td>{{totalPrice}}</td>
            </tr>
        {{!-- {{/each}} --}}
        </tbody>
    </table>
</div>