<link rel="stylesheet" href="/css/index.css">

<div class="container">
    <div class="row mt-5">
        {{#each products}}
            <div class="col-lg-3 col-md-4 col-12 item" onclick="detailProduct(this)">
                <img src="/uploads/products/{{image}}">
                <p>{{productName}}</p>
                <p class="text-danger">{{formatPrice retailPrice}}đ</p>
                {{!-- Những phần bị ẩn đi này sẽ được hiển thị trong modal chi tiết --}}
                <p class="d-none">{{barcode}}</p>
                <p class="d-none">{{category}}</p>
                <p class="d-none">{{creationDate}}</p>
            </div>
        {{/each}}
    </div>
</div>

{{!-- Modal xem chi tiết sản phẩm --}}
<div class="modal fade" id="modalDetail">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header bg-dark">
          <h4 class="modal-title w-100 text-center text-light" id="modalDetailProductTitle"></h4>
          <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body bg-dark">
            <div class="row py-3">
                <div class="col-4">
                    <img src="" id="modalDetailProductImage">
                </div>

                <div class="col-8">
                    <div id="modalDetailProductInfo">
                        <h4 id="modalDetailProductBarcode"></h4>
                        <p id="modalDetailProductName"></p>
                        <p id="modalDetailProductCategory"></p>
                        <p id="modalDetailProductImportPrice"></p>
                        <p id="modalDetailProductRetailPrice"></p>
                        <p id="modalDetailProductCreationDate"></p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
    
      </div>
    </div>
</div>

<script src="/js/index.js"></script>