<div class="container">
    <h2>Thanh toán</h2>
    <form method="POST" action="/product-payment">
        <div class="form-group">
            <input type="search" id="mySearch" placeholder="Nhập tên hoặc barcode" class="form-control">
        </div>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Tổng tiền</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Iphone 15 Pro</td>
                    <td>
                        <button>-</button>
                        <span>1</span>
                        <button>+</button>
                    </td>
                    <td>30</td>
                    <td>150</td>
                    <td>
                        <button onclick="deleteProduct()" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Iphone 14 Pro</td>
                    <td>
                        <button>-</button>
                        <span>1</span>
                        <button>+</button>
                    </td>
                    <td>30</td>
                    <td>150</td>
                    <td>
                        <button class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Iphone 13 Pro</td>
                    <td>
                        <button>-</button>
                        <span>1</span>
                        <button>+</button>
                    </td>
                    <td>30</td>
                    <td>150</td>
                    <td>
                        <button class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <p>Tổng tiền: </p>

        <!-- Số điện thoại -->
        <div class="form-group">
            <label for="phone">Số điện thoại:</label>
            <input type="text" id="phone" name="phone" class="form-control" value="{{phone}}">
        </div>
        <!-- Tên người dùng -->
        <div class="form-group">
            <label for "username">Họ và tên:</label>
            <input type="text" id="fullname" name="fullname" class="form-control" value="{{fullname}}">
        </div>
        <!-- Địa chỉ -->
        <div class="form-group">
            <label for "username">Địa chỉ:</label>
            <input type="text" id="address" name="address" class="form-control" value="{{address}}">
        </div>
        <button type="submit" class="btn btn-primary" onclick="checkout()">Thanh toán</button>
        
    </form>

    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{/if}}

    {{#if success}}
        <div class="alert alert-success">{{success}}</div>
    {{/if}}
</div>

{{!-- Modal xác nhận xóa sản phẩm --}}
<div class="modal fade" id="modalDelete">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">XÓA SẢN PHẨM</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Xác nhận xóa sản phẩm...
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Xóa</button>
        </div>
        
      </div>
    </div>
</div>
<script src="/js/productPayment.js"></script>
